// Fonts
@import url(http://fonts.googleapis.com/css?family=Oswald:300,400,600);
// Font-awesome
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
// Variables
@import "variables";
// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
// Autocomplete
@import "autocomplete";

html {
  min-height: 100%; // Sticky footer
  position: relative; // Sticky footer
}

body {
  margin-bottom: 88px; // Sticky footer
}

footer {
  bottom: 0;
  height: 44px;
  margin-top: 44px;
  position: absolute;
  width: 100%;
  
  p {
    margin-top: 11px;
  }
}

table {
  margin-top: $margin-default;
  
  th {
    white-space: nowrap;
  }
}

.table-data-wrap {
  white-space: nowrap;
  width: 1%;
}

.navbar-brand {
  padding: 0px 15px;
}

#nav-logo {
  margin-top: 10px;
}

.insertion-form {
  margin-top: $margin-default;
}

.bold-text {
  font-weight: bold;
}

.mt-10 {
  margin-top: $margin-secondary;
}

.mr-10 {
  margin-right: $margin-secondary;
}

.mb-10 {
  margin-bottom: $margin-secondary;
}

.ml-10 {
  margin-left: $margin-secondary;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: $margin-default;
}

.mr-20 {
  margin-right: $margin-default;
}

.mb-20 {
  margin-bottom: $margin-default;
}

.ml-20 {
  margin-left: $margin-default;
}

// master-narrow.blade.php
.container-narrow {
  @extend .container;
  max-width: 540px;
}

#repair-center-preferred-label {
  background-color: $input-bg;
  border: solid 1px $input-border;
  border-radius: 4px;
  margin-bottom: 15px;
  padding: 6px;
}

#login-user {
  #forgot-password {
    padding-left: 0;
  }
}

// Medium or greater
@media only screen and (min-width: 768px) {
  .detail-label {
    text-align: right;
  }

  .search-inputs {
  margin-left:30px;
}
}

// Small or less
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .table-responsive {
    margin-top: $margin-default;
  }
  
  .filter-button {
    float: right;
    margin-top: 10px;
  }
}

// PDF Styles
body.pdf {
  background-color: #FFF;
  color: #000;
}

#pdf-address {
  padding-top:7px;
}

.pdf.row.top-line {
  border-top: 1px solid #AAA;
  padding-top:10px;
}